*{
    margin: 0px;padding: 0px;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background: darksalmon;
}
.book{
   
  
    padding: 5px;
}
.d h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
    font-style: italic;

}
.book a{
    position: fixed;
 top: 0px;
     font-weight: bolder;
     font-size: 50px;
     text-decoration: none;
     color:turquoise;
    
 }
.d h1 span{
    color:tomato;
    font-style: italic;
}
.card img{
  
   border-radius: 20px;
    box-shadow:  2px 2px 0px 1px rgb(206, 47, 87);
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .button{
    width: 160px;
    
    
    font-size: 16px;
    font-weight: bold;
    background: tomato;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    transition: 1s;
    transform-style: preserve-3d;
}
.book .button:hover{
    width: 170px;
    background-color: turquoise;
}
@media screen and(max-width:400px){
    .button{
       font-size: 3px;
    }
}
@media screen and(max-width:765px){
    .book{
        padding: 0px;
    }
    .d2 h1{
       font-size: 17px;
    }
  
    
}
