body{
    display:flex;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
   background:  darksalmon;
}
.d1{
  
    width: 100%;
}

.d1 h1{
    text-align: center;
  font-weight: bold;
  font-style: italic;
}
.d1 h1 span{
    color:tomato;
}
img{
    width: 100%;
    width: 200px;height: 250px;
   
}
h3{
   font-weight: bold;
   text-transform: uppercase;
}
.card{
    margin: 5px; box-shadow: 2px 2px rgb(236, 146, 11);
}

 .icon{
    position: fixed;
    right:  0px;
    font-weight: bolder;font-size: 50px;
    text-decoration: none;
    color:turquoise;
 
}

h4{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    text-transform: uppercase;
}
h4 span{
    text-transform: lowercase;
}

input[type="button"]{
   
    border-radius: 5px;
  width: 6em;
font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight:bolder;
    transition: 0.5s ease;
    transition-duration: 0.9s;
}
input[type="button"]:hover{
    width: 287px;
    background-color: skyblue;
    color: #fff;
    border: none;
}
.card-body p{
    font-size: 20px;
    color: rgb(82, 188, 230);
    font-weight: bold;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
/* about info start */
.about{
    padding: 20px;
    margin-top: 50px;
  
    width: 100%;
}

.about h1{
    text-align: center;
  font-weight: bold;
  font-style: italic;
margin-bottom: 10px;
}
.about h1 span{
    color:tomato;
    font-style: italic;
}
.about h2{
    font-weight: bold;
    font-size: 35px;
    color: white;
    letter-spacing: 1px;
    

}
.about p{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 250, 250);
    
}
.button{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight:bolder;
    transition: 0.5s ease;
 
}
button:hover{
    width: 190px;
    background-color: turquoise;
}
@media (max-width:765px){
    .about{
        padding: 0;
    }
}
/* about end */
.contact{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #f9f9f9;
    color: black;
}
.contact h1{
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    padding-top: 30px;
   
}
.contact h1 span{
    color: tomato;
}
.contact p{
    font-size: 17px;
    
}
.made{
    font-size: 15px;
}
.made p a{
    text-decoration: none;
}
.follow a{
    text-decoration: none;
}
.follow i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.follow a i:hover{
    font-size: 30px;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}
@media screen and(max-width:560) {
    .contact padding {
        font-size: 10px;
    }
}